@charset "ISO-8859-1";


body{
	
	background-color: #eceff1 ;
	background-size:cover;
	overflow-x:hidden; 
	
}

.table th,td {
	
	text-align:center;	
		
}


.dropdown{
    border-radius:0;
    border:0;
}
.dropdown-menu{
    background: #fafafa ;
    border:0;
    top:80%;
    border-radius:0px 0px 5px 5px;
}
.dropdown-item:hover{
    background:#e0e0e0 ;
    color:#3f3f3f;
}
.dropdown-menu a{
    color:#000000;
} 	
	

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
	background-color: #cfd8dc  ;
}

.btn1{
	
	background-color:#78909c  ;
	border-color:#78909c  ;
	width:300%;
	color: ffffff;
}


.btn:hover{
	
	background-color:#546e7a  ;
	border-color:#546e7a  ;
	
}


.switchToggle1 input[type=checkbox]{height: 0; width: 0; visibility: hidden; position: absolute; }
.switchToggle1 label {cursor: pointer; text-indent: -9999px; width: 70px; max-width: 70px; height: 30px; background: #c0c0c0; display: block; border-radius: 100px; position: relative; }
.switchToggle1 label:after {content: ''; position: absolute; top: 2px; left: 2px; width: 26px; height: 26px; background: #fff; border-radius: 90px; transition: 0.3s; }
.switchToggle1 input:checked + label, .switchToggle1 input:checked + input + label  {background: #3e98d3; }
.switchToggle1 input + label:before, .switchToggle1 input + input + label:before {content: 'No'; position: absolute; top: 5px; left: 35px; width: 26px; height: 26px; border-radius: 90px; transition: 0.3s; text-indent: 0; color: #fff; }
.switchToggle1 input:checked + label:before, .switchToggle1 input:checked + input + label:before {content: 'Yes'; position: absolute; top: 5px; left: 10px; width: 26px; height: 26px; border-radius: 90px; transition: 0.3s; text-indent: 0; color: #fff; }
.switchToggle1 input:checked + label:after, .switchToggle1 input:checked + input + label:after {left: calc(100% - 2px); transform: translateX(-100%); }
.switchToggle1 label:active:after {width: 60px; } 
.toggle-switchArea1 { margin: 10px 0 10px 0; }




.back-to-top {
   display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #90a4ae ;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}





