<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"/>
<title>Insert title here</title>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/css/criteriapage.css"/>

</head>
<body>
 
<br/> <br/> <br/> <br/> <br/> <br/>

<div class="card-display">
		<div class="row">
				<div class="slide">
      					<figure>
        					<div class="card-ctr">	
          						<div class="card automation" data-index="{#i}">				
          							<br/> <br/>
          						<img src="/pictures/screen.png" style="width:55%; height:40%; display: block; margin-left: auto; margin-right: auto;"/>
          						 	<div class="text-center"> 
	          							 <font color="#0d47a1" style=" font-family: Impact, Charcoal, sans-serif; font-size: 40px;">Select</font>
									 	 <font color="black" style=" font-family: Impact, Charcoal, sans-serif; font-size: 40px; ">Screen</font> 
          							</div>
	          							 <br/>  
          								<select class="custom-select form-control" name="file">
         									<option > OneView</option>
         									<option > GUI</option>
         									<option > WUI</option>
         								</select>
          								<br/> <br/>
 								</div>
        					</div>
      					</figure>
   					 </div>
			</div>
		</div>

</body>
</html>