<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<title>Login Headers</title>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/webaddress.js"></script>
<link rel="stylesheet" href="/css/webaddress.css"/>

<link rel="stylesheet" href="/fontawesome/css/all.min.css"/>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="/fontawesome/css/all.min.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
</head>

<body>
<!--  
<nav class="navbar navbar-expand-md navbar-light bg-dark">
  <a class="navbar-brand pb-2" href="#"><img src="/pictures/OneAstonLogo.png" style=" width: 55px; height:55px;  vertical-align: middle;"/>
  <img src="/pictures/oalogoword.png" style=" width: 165px; height:50px;  vertical-align: middle;"/>  </a>
  
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
  
		  <div class="collapse navbar-collapse" id="navbarNavDropdown">
		    <ul class="navbar-nav ml-auto">
      
	       <li class="nav-item"> <img src="/pictures/User_icon.png" style="width: 45px; height:45px; padding-top:13px; padding-right:10px;"/></li> 
		      <li class="nav-item"> <p th:text="'Hi, ' + ${user} + '!'"  style="color: white; font-family:Tahoma, Geneva, sans-serif; font-size:20px; padding-top:13px; padding-right:5px; "></p> </li>
		      
		      	<li class="nav-item dropdown">
		        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  style="color:white; padding-top:19px;"> </a>
          
           <ul class="dropdown-menu dropdown-menu-right bg-dark" aria-labelledby="navbarDropdownMenuLink">
           <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" style="color:white" href="/home">Home</a>
           <ul class="dropdown-menu bg-dark">
           <li class="dropdown-submenu" ><a class="dropdown-item " href="/index" style="color:white">OneLibrary</a>
           </li>        
              <li><a class="dropdown-item" href="/dependenttestcase/setreportlogpage" style="color:white">OneLog</a></li> 
               <li><a class="dropdown-item" href="/campaign/dashboardpage" style="color:white">OneReport</a></li>
               <li><a class="dropdown-item" href="/campaign/campaignpage" style="color:white">OneProject</a></li>
               <li><a class="dropdown-item" href="/user/officerpage" style="color:white">OneAdmin</a></li>
             <li><a class="dropdown-item" href="/client/createclientpage "><font style="color:white">OneClient</font></a></li>   
            </ul>
          </li>
          
          <li><a class="dropdown-item" href="/user/accountsetingspage" style="color:white">Account Settings</a></li>
          <li><a class="dropdown-item" href="/logout" style="color:white">Logout</a></li>
                
        </ul>
      </li>
    </ul>
  </div>
</nav>
-->

<div class="page-wrapper chiller-theme toggled">
  <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <a href="#">oneaston automation</a>
        <div id="close-sidebar">
          <i class="fas fa-times"></i>
        </div>
      </div>
      <div class="sidebar-header">
        <div class="user-pic">
          <img class="img-responsive img-rounded" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
            alt="User picture"/>
        </div>
        <div class="user-info">
          <span class="user-name">
            <strong th:text="${user}" style="text-transform:UPPERCASE"></strong>
          </span>
          <span class="user-role">Administrator</span>
          <span class="user-status">
            <i class="fa fa-circle"></i>
            <span>Online</span>
          </span>
        </div>
      </div>
      <div class="sidebar-menu">
        <ul>
          <li class="header-menu">
            <span>General</span>
          </li>
          <li class="sidebar-dropdown">
            <a href="/home">
              <i class="fa fa-tachometer-alt"></i>
              <span>Views</span>
            </a> 
          </li>
          <li class="sidebar-dropdown">
            <a href="/index">
              <i class="fa fa-folder"></i>
              <span>Libraries</span>
            </a>
          </li>
          <li>
            <a href="/dependenttestcase/setreportlogpage">
              <i class="fa fa-book"></i>
              <span>Logs</span>
            </a>
          </li>
          <li class="sidebar-dropdown">
            <a href="/campaign/campaignpage">
              <i class="far fa-gem"></i>
              <span>Projects</span>
            </a> 
          </li>
          <li class="sidebar-dropdown">
            <a href="/campaign/dashboardpage">
              <i class="fa fa-chart-line"></i>
              <span>Reports</span>
            </a>
          </li>
          <li class="sidebar-dropdown">
            <a href="/client/createclientpage">
              <i class="fa fa-globe"></i>
              <span>Clients</span>
            </a>  
          </li>
          <li class="header-menu">
            <span>Extra</span>
          </li>
         <li>
            <a href="/user/officerpage">
              <i class="fa fa-user"></i>
              <span>Users</span>
            </a>
          </li>
          <li>
            <a href="/calendar">
              <i class="fa fa-calendar"></i>
              <span>Calendar</span>
            </a>
          </li>
         
        </ul>
      </div>
    </div>
    <div class="sidebar-footer">
      <a href="#">
        <i class="fa fa-bell" rel="tooltip" title="Notification" style="cursor:pointer;"></i>
      </a>
      <a href="#">
        <i class="fa fa-envelope" rel="tooltip" title="Message" style="cursor:pointer;"></i>
      </a>
      <a href="/user/accountsetingspage">
        <i class="fa fa-cog" rel="tooltip" title="Account Settings" style="cursor:pointer;"></i>
      </a>
      <a href="/logout">
        <i class="fa fa-power-off" rel="tooltip" title="Logout" style="cursor:pointer;"></i>
      </a>
    </div>
  </nav>
  
  <main class="page-content">
	  <div class="container-fluid">	
			<div class="container">
				<div class="mt-5 mb-5 text-center">	
				</div>
				<ul class="step d-flex flex-nowrap">
			  <li class="step-item ">
			    <a href="/client" class="" style="color:white">Step 1
			     <p></p><font style="color:white"><b> Client Registration </b></font></a>
			  </li>
			   <li class="step-item ">
			    <a href="/logincredential" class="" style="color:white">Step 2
			    <p></p><font style="color:white"><b> Login Credential </b></font> </a> 
			  </li>
			  
			  <li class="step-item active">
			    <a href="/webaddress" class="" style="color:white">Step 3
			    <p></p><font style="color:white"><b> Login Header </b></font> </a> 
			  </li>
			  <li class="step-item">
			    <a href="#!" class="">Step 3
			    <p></p> Tap Connection </a>
			  </li>
			  <li class="step-item">
			    <a href="#!" class="">Step 4
			    <p></p> Summary </a>
			  </li>
			</ul> 
			
			</div>

			<br/> <br/>
			
<form action="/headers/saveheaders" method="post">
	<th:block th:each="webAddress, iter : ${webAddressList}">
		<div class="row">
				<div class="col-md-12">
					<div class="card bg-dark">
						<div class="card-header"  style="background-color:#1f2122;"><font style="color:#1f2122;"></font></div>
							<div class="card-body">
							<div class="form-inline"> 
									<b>Web Address: &nbsp;</b>
									<input type="text" name="url" class="form-control" th:value="${webAddress.url}" readonly="readonly" style="width:25%"/> 
									<input type="text" th:id="'counter' + ${iter.index}" hidden="hidden" name="counter" class="form-control" value="2" readonly="readonly" style="width:25%"/>
								</div>
							<p></p>
								<hr style="border:1px solid"/>
								<br/>
									<table id ="datatable" class="table table-striped table-dark">
										<thead>
											<th style="width:25%">Label</th>
											<th>Web Element Nature</th>
											<th>Nature of Action</th>
											<th>Web Element Name</th>
											<th>Action</th>
										</thead>
										<tr>
											<td><input name="label" value="username" type="text" class="form-control"  required="required"/></td>		
											<td>
												<select name="webElementNature" class="custom-select" >
													<option value="name">name</option>
													<option value="class">class</option>
													<option value="id" selected="selected">id</option>
													<option value="xpath">xpath</option>
												</select>
											</td>
											<td>
												<select name="natureOfAction" class="custom-select">
													<option value="input" selected="selected">input</option>
												</select>
											</td>
											<td><input name="webElementName" type="text" class="form-control" required="required"/> </td>
											<td>
												<div class="btn btn-primary" onclick="addRow(this)"><i class="fas fa-plus"></i> </div>
											</td>	
										</tr>
										<tr>
											<td><input name="label" value="password" type="text" class="form-control" readonly="readonly" required="required"/></td>		
											<td>
												<select name="webElementNature" class="custom-select">
													<option value="name">name</option>
													<option value="class">class</option>
													<option value="id" selected="selected">id</option>
													<option value="xpath">xpath</option>
												</select>
											</td>
											<td>
												<select name="natureOfAction" class="custom-select">
													<option value="input" selected="selected">input</option>
												</select>
											</td>
											<td><input name="webElementName" type="text" class="form-control" required="required"/> </td>
											<td>
												<div class="btn btn-primary" onclick="addRow(this)"><i class="fas fa-plus"></i> </div>
											</td>	
										</tr>
							   		</table>
							   <br/> <br/>
							</div>
						 </div>
				   	 </div>
				<div class="col-md-1"></div>	
			</div>
			
		</th:block>
		<br/>					 
			<div style="text-align: right; padding-right: 3rem">
				  <input type="submit" value="Proceed" class="btn btn-primary" />
				  <input type="reset" name="submit" value="Reset" class=" btn btn-danger" />
	   		</div> 	<p></p>
	</form>	
					
					
		</div>
	</main>
</div>
	
</body>
</html>

